@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Libre Baskerville', serif;
  color: #282828;
  font-size: 1.5rem;  
  font-weight: 400;   
  line-height: 1.2;
  letter-spacing: -0.05em;
  width: 520px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  color: #282828;
  font-size: 3.625rem;
  font-weight: 900;
  line-height: 0.875;
  letter-spacing: -0.05em;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
  color: #282828;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.05;
  text-indent: 0;
}

.headshot-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 75px;
  display: block;
  margin-bottom: 1.5rem;
  overflow: hidden;
}
