@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Libre Baskerville', serif;
  max-width: 675px;
  margin: 0 auto;
  padding: 20px; /* Optional: adds some space around the content */
  /* You can add other base body styles here, e.g., color, line-height */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
  /* You can add other base header styles here, e.g., color, margin */
}
