---
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/works/" />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="https://mikevincent.dev/works/" />
    <title>Redirecting to Works</title>
    <script is:inline>
      window.location.replace('/works/');
    </script>
  </head>
  <body>
    <a href="/works/">Go to Works</a>
  </body>
</html>
